* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

htnl {
    background-color: black;
}
.conteiner {
	background-color: black;
    width: 100vw;
    padding: 60px;
}



/**********
ROW RULES
****/

.row {
    width: 1820px;
    height: 130px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/**********
COL RULES
****/

.col {
    width: 250px;
    height: 130px;
    flex-direction: row;
    background-image: url("https://picsum.photos/250/130");
}

.name {
    background-color: rgba(133, 133, 133, 0.4);
    width: 96px;
    height: 24px;
    position: relative;
    justify-content: center;
    bottom: -110px;
    padding: 5px;
}


.name h3 {
    font-size: 13px;
    color: white;
    float: right;

}
.name i {
    font-size: 12px;
    color: white;

}


.box_speaker {
    background-color: rgba(133, 133, 133, 0.4);
    width: 100px;
    height: 24px;
    position: relative;
    justify-content: center;
    top: -76px;
    right: -140px;
    padding: 5px;
    padding: 5px;
}

.box_speaker h3 {
    font-size: 13px;
    color: white;
    float: right;


}
.box_speaker i {
    font-size: 12px;
    color: white;

}

.size {
    background-color: rgba(133, 133, 133, 0.4);
    width: 24px;
    height: 24px;
    position: relative;
    justify-content: center;
    top: -100px;
    right: -250px;
    padding: 5px;
    color:white;
    font-size: 12px;
}


/**********
FOOTER RULES
****/

footer {
    background-color: rgb(39, 37, 37);
    width: 100vw;
    height: 77px;
    margin-top: -20px;
    display: flex;
    padding: 10px;
}

.right {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-right: 5px;
}

.arrow {
    color: white;
    font-size: 15px;
    padding: 10px;
}

.second_right{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-right: 5px;
}

/******
PARTE CENTRALE FOOTER
**/

.center {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    display: flex;
    position: relative;
    left: 350px;
    gap: 10px;
    
}

.share {
    color: rgb(45, 236, 45);
}

/******
PARTE finale FOOTER
**/




